{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card p-4 shadow-sm">
            <h4 class="mb-3">Student Registration</h4>

            <form method="POST" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Full Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Department</label>
                        <input type="text" name="department" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>CGPA</label>
                        <input type="number" step="0.01" name="cgpa" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Contact</label>
                        <input type="text" name="contact" class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <button class="btn btn-primary w-100">Register</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}
