{% extends "layout.html" %}

{% block content %}

<h4>My Applications</h4>

<table class="table table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Drive ID</th>
            <th>Status</th>
            <th>Date Applied</th>
        </tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app.drive_id }}</td>
            <td>{{ app.status }}</td>
            <td>{{ app.date_applied }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
